Exercise-3/Python/.venv/
Exercise-3/Unity/VacuumVisualization/Library
Exercise-3/Unity/VacuumVisualization/Assets/Sprites
Exercise-3/Unity/VacuumVisualization/ProjectSettings
Exercise-3/Unity/VacuumVisualization/Temp
Exercise-3/Unity/VacuumVisualization/UserSettings
Exercise-3/Unity/VacuumVisualization/Logs
Exercise-3/Python/ex3pt1.ipynb
Exercise-3/Python/utils.py
Exercise-3/Python/vacuum_world.py
Exercise-3/Python/agents.py